@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #392fd1;
}

.wrapper{
    background-color: rgb(255, 255, 255);
    width: 550px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5) ;
}

/* singup css code */

.form {
    padding: 25px 30px;
}

.form header{
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form{
    margin: 20px 0;
}
.form form .errortekst{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

form .nane-details .field{
    margin: 10px;
}

.form form .field{
   display: flex;
   position: relative;
   flex-direction: column;
   margin-bottom: 10px;
}

.form form .field label{
    margin: 2px;
}

.form form .field input {
    outline: none;

}

.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.form form .image input{
    font-size: 17px;
}
.form form .button input{
    margin-right: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}

.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;


}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}

/* css van user page */ 


.users {
    padding: 25px 30px;
}

.users header,
.userlist a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .userlist) .content{
    display: flex;
    align-items: center;
}

.users header .content img{
    height: 80px;
    width: 80px;
}

:is(.users, .userlist) .details {
    color: #000;
    margin-left: 15px;
}

:is(.users, .userlist) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background: #333;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}

.userlist {
    max-height: 350px;
}

.userlist a{
    margin-bottom: 10px;
    page-break-after: 10px;
    padding-right: 15px;
}

.userlist a:last-child{
    border: none;
    margin-bottom: 0px;
}

.userlist a .content img{
    height: 40px;
    width: 40px;
}

.userlist a .status-dot{
    font-size: 12px;
    color: #468669;
}

